@page "/transactions"
@using app.Data
@using Microsoft.EntityFrameworkCore
@inject AppDbContext Db

@code {
    private IEnumerable<FinancialTransactionPayment> transactionPayments = Array.Empty<FinancialTransactionPayment>();
    private DateTime? startDate = new DateTime(DateTime.Today.Year, DateTime.Today.Month, 1);
    private DateTime? endDate = new DateTime(DateTime.Today.Year, DateTime.Today.Month,
    DateTime.DaysInMonth(DateTime.Today.Year, DateTime.Today.Month));

    protected override async Task OnInitializedAsync()
    {
        await LoadTransactions();
    }

    private async Task LoadTransactions()
    {
        var query = Db.FinancialTransactionPayments.Include(p => p.FinancialTransaction).AsQueryable();

        if (startDate.HasValue)
        {
            query = query.Where(p => p.Date >= DateOnly.FromDateTime(startDate.Value));
        }

        if (endDate.HasValue)
        {
            query = query.Where(p => p.Date <= DateOnly.FromDateTime(endDate.Value));
        }

        transactionPayments = await query.OrderByDescending(p => p.Date).ToListAsync();
    }

    private async Task ApplyFilter()
    {
        await LoadTransactions();
    }
}

<PageTitle>Transações</PageTitle>

<h1>Transações</h1>

<div class="row mb-3">
    <div class="col-3">
        <InputDate class="form-control" @bind-Value="startDate" />
    </div>
    <div class="col-3">
        <InputDate class="form-control" @bind-Value="endDate" />
    </div>
    <div class="col-3">
        <button class="btn btn-primary" @onclick="ApplyFilter">Aplicar Filtro</button>
    </div>
</div>

<a href="/transactions/register" class="btn btn-primary">Nova transação</a>

@if (transactionPayments == null)
{
    <p><em>Carregando...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th class="col-2 text-center">Registrado em</th>
                <th class="col-2 text-center">Pagamento em</th>
                <th class="col-4 text-left">Descrição</th>
                <th class="col-1 text-center">Status</th>
                <th class="col-2 text-right">Valor</th>
                <th class="col-1 text-center">Ações</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var transactionPayment in transactionPayments)
            {
                <tr>
                    <td class="text-center">
                        @transactionPayment.FinancialTransaction.Date.ToString("dd/MM")
                    </td>
                    <td class="text-center">
                        @transactionPayment.Date.ToString("dd/MM")
                    </td>
                    <td class="text-left">
                        <span>@transactionPayment.FinancialTransaction.Name</span>
                        @if (!string.IsNullOrEmpty(transactionPayment.Observation))
                        {
                            <br />
                            <small>@transactionPayment.Observation</small>
                        }
                    </td>
                    <td class="text-center">
                        @if (transactionPayment.Paid)
                        {
                            <span class="badge bg-success">Pago</span>
                        }
                        else
                        {
                            <span class="badge bg-warning">Pendente</span>
                        }
                    </td>
                    <td class="text-right">
                        @transactionPayment.Value.ToString("N2")
                    </td>
                    <td class="text-center">
                        <a href="/transactions/register/@transactionPayment.FinancialTransaction.Id"
                            class="btn btn-secondary">Editar</a>
                        <a href="/transactions/register?copyBy=@transactionPayment.FinancialTransaction.Id"
                            class="btn btn-secondary">Clonar
                        </a>
                    </td>
                </tr>
            }
        </tbody>
        <tfoot>
            <tr>
                <td colspan="5" class="text-right">
                    @transactionPayments.Sum(t => t.Value)
                </td>
                <td></td>
            </tr>
        </tfoot>
    </table>
}
